@import '../../shadow.less';

body{
    background-image: url(../../assets/backgroud.png);
    background-color: #f1f1f1;
}
.contain{
    position: absolute;
    background-color: #fff;
    left: 40%;
    width: 400px;
    top: 20%;
    padding: 50px 50px 30px;
    border-radius: 5px;
    
    .shadow_d;
}
.login_form{
    margin-top: 10%;
    :global(.ant-btn){
      height: 40px;
    }
    :global(.ant-input-affix-wrapper){
        height: 35px;
    }
}
.cute{
    font-size: 20px;
    img{
        position: absolute;
        top: 0;
        left: 50%;
        width: 160px;
        -webkit-transform: translate(-50%, -83%);
        transform: translate(-50%, -83%);
        z-index: 1;
    }
}
h4{
    color: #336a9d;
    font-size: 16px;
    text-align: left;
}
button{
    height: 40px;
}
