@import '~antd/lib/style/themes/default.less';

.navbar , .navbar_logo ,.navbar_info{
    margin: 0;
    padding: 0;
    height: 60px;
}
.navbar{
    position: fixed;
    background-color: #21242a;
    border-bottom: .5px solid hsla(0,0%,100%,.1);
    top: 0px;
    left: 0px;
    width: 100%;
}
.navbar_logo{
    float: left;
    h3{
        color: #fff;
        font-size: 18px;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 60px;
        text-transform: uppercase;
    }
}
.navbar_info{
    float: right;
    li{
        list-style: none;
        float: left;
        height: 60px;
        margin-left: 50px;
        line-height: 60px;
        a{
        
            color: #fff;
            font-size: 13px;
            font-weight: 500;
            text-decoration: none;
        }
    }
}
.header{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.main{
    height: 875px;
    background-color: #21242a;
    padding-top: 10px;
    h1,h3{
        color: #fff;
        text-align: center;
    }
    &div{
        text-align: center;
    }
}
.introduce{
    margin-top: 180px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 500;
}
.word{
    margin-top: 10px;

}
.box{
    a{
      
        background-color: #fff;
        display: inline-block;
        width: 160px;
        height: 40px;
        margin: 0 10px;
        border: 1px solid #fff;
        border-radius: 3px;
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
    }
}
.edit_contain{
    display: flex;
    background-color: #fff;
    width: 1000px;
    margin: 100px auto 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 15px 40px rgba(0,0,0,.2);
    &div{
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: 0 15px 40px rgba(0,0,0,.2);
    }
}
.edit_left{
    width: 400px;
    height: 850px;
    overflow: auto;
    font-size: 15px;
}
.edit_right{
    border: 1px solid rgba(0,0,0,.2);
    margin-left: 20px;
    width: 550px;
    height: 850px;
}